.menu-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.83);
    box-shadow: 0px 1px 100.98px 0.02px rgba(0, 0, 0, 0.42);
    width: 100%;
    max-width: 1920px;
    height: 64px;
    font-family: "proxima-nova", arial, helvetica, sans-serif;
    margin: 0 auto;
    z-index: 10000;
    padding: 0 20px;
}



hr {border-top: 1px solid #000; width:50%;}

a {color: #000;}

a:link{text-decoration:none;}

.box1{background: rgb(58, 28, 105, 0.6);}
.box2{background: rgba(58, 28, 105, 0.6);}
.box3{background: rgba(58, 28, 105, 0.6);;}